@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,500,700,900&display=swap');

*, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  background-image: url('https://images.unsplash.com/photo-1500531279542-fc8490c8ea4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#header {
  display: block;
  min-height: 110px;
}

#site-title {
  color: #fff;
  float: left;
  font-size: 30px;
  font-weight: 900;
  padding: 35px 45px;
  text-transform: uppercase;
}

#site-title i {
  margin: 0 20px 0 0;
}

nav {
  float: right;
  padding: 45px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul #search {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  bottom: 3px;
  margin: 0 0 0 25px;
  position: relative;
  width: 100px;
}

nav ul i {
  color: #fff;
  margin:  0 6px 0;
  position: relative;
  top: 1px;
  transform: scaleX(-1);
}

nav ul #search::placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 100;
}

#featured {
  height: 60vh;
  padding: 40px;
}

#featured-title {
  color: #fff;
  display: table-cell;
  font-size: 45px;
  font-weight: 700;
  height: 400px;
  letter-spacing: 0.7px;
  padding: 0 160px;
  vertical-align: middle;
  width: 500px;
}

#featured-under {
  color: #fff;
  display: table-cell;
  height: 130px;
  padding: 10px 40px;
  vertical-align: bottom;
}

.feature-article {
  float: left;
  margin: 25px 1% 0 0;
  width: 32%;
}

.feature-content {
  font-size: 15px;
  height: 130px;
  line-height: 2;
}

.feature-content h2 {
  display: table-cell;
  font-size: 14px;
  line-height: 1;
  padding-bottom: 15px;
  text-transform: uppercase;
  vertical-align: top;
}

.feature-num {
  border-right: 2px solid #fff;
  display: table-cell;
  float: left;
  font-size: 55px;
  font-weight: 700;
  height: 100%;
  line-height: 0.7;
  margin: 0 10px 0 0;
  padding: 0 12px 0 0;
  vertical-align: top;
}

#social-links {
  background: #fff;
  color: #000;
  float: right;
  height: 100%;
  padding: 38px 0 0px;
  margin-right: -40px;
}

#social-links i {
  display: table-cell;
  padding: 3px 20px;
}